.bg {
    text-align: center;
    
    background-position: center;
    padding-top: 74px;
   }
   
   
  .azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
   .bttn {
       background-color: black;
       font-size: 20px;
       font-weight: bold;
       color: white;
       border: none;
       padding: 15px 30px;
       border-radius: 10px;
   }
   
body section {
       background-image: url('../assets/Hero-bg.png');
       background-repeat: none;
   }

main section {
    background-image: none;
}
.secondp {
    margin-top: auto;
    text-align: center;
    background-position: center;
    background-color: #FFFFFF;
    border-radius: 10;
    padding: 80px 97px;
    margin-top:  80;



}

main  {
    text-align: center;
    max-width: 1140px;
    margin: 0 auto;
}

main section h2 {
    text-align: center;

}


.dark-color {
    color: #0D1321;
    font-weight: 800;
    font-size: 32px;
}
.kl {
    color: #0D1321;
    font-weight: 800;
    font-size: 48px;

}


.about-item-a {
    background-image: url(../assets/Layer_1.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-top: auto;
    margin: 0;
    
}

.about-item-c {
    background-image: url(../assets/Group\ 4.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-top: auto;
    margin: 0;
    
}

.about-item-a h5{
   margin: 10px;
   text-align: left;
   font-weight: 700;
   font-size: 24px;
   padding-top: 58.5px;
   
}

.about-item-c h5{
    margin: 10px;
    text-align: left;
    font-weight: 700;
    font-size: 24px;
    padding-top: 58.5px;
    
 }
.item-description {
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    

}

.secondary-btn {
   text-align: center;
   background-color: unset;
   width:171px;
   height: 47px;
   justify-content: flex-start;

   
   
    
}
.left-shift {
    text-align: left;
    margin-left: 0;
}


.about-item-b h5{
   
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    padding-top: 58.5px;
 }

 
 .item-description-b {
    text-align:left;
    font-size: 16px;
    font-weight: 400;

}

.about-item-b{
    background-image: url(../assets/Group\ 3.png);
    background-repeat: no-repeat;
    background-position: top left;
    margin-top: auto;
    margin-right: 0cap;
    text-align:center;
    margin: 20px;


    
}
.the-icons {
   
  padding: 32px;
  gap: 24px;
  display: inline-block;
}


.the-icons button {
    margin-top: 10px;
    padding: 20px;
    text-decoration: underline;
    border: none;
    background-color: unset;
    cursor: pointer;
    
}

.aligning {
    margin-top: 48px;
}
.the-icons-abc {
    display: flex;
    gap:20px;
}


.skill-container {
    display: flex;
    gap: 24px;
    padding: 30px;
    

}


.a-icon {
    padding: 30px;
    background-color: #efdad5;
    width: 364px;

}

.b-icon {
    padding: 30px;
    background-color: #cad6ed;
    width: 364px;

}

.c-icon {
    padding: 30px;
    background-color: #faefb0;
    width: 364px;

}

.add-color {
    background-color: whitesmoke;
    
}


footer {
    padding: 20px;
    text-align: left;
    background: #f7f7f7;
    border-top: 1px solid #ddd;
}

.link-socials {
    
   width: 24px;
   display: inline-flex;
}




.handshake-picture {
    background-image: url(../assets/handshake.jpg);
    background-repeat: none;
    width: 1140px;
    color: white;
    

}

.support-part form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


